# Loops

## Topics:

1. while loops
2. for loops


### while loops


The syntax for a while is

while condition

  loop body
    
end

For example, we could use while to count or to iterate over an array.

In [1]:
n = 0
while n < 10
    n += 1
    println(n)
end
n

1
2
3
4
5
6
7
8
9
10

10

In [3]:
cities = ["Majunga", "Diego", "New York", "Mumbai", "Seoul"]

i = 1
while i <= length(cities)
    city = cities[i]
    println("I have been to $city !")
    i += 1
end

I have been to Majunga !
I have been to Diego !
I have been to New York !
I have been to Mumbai !
I have been to Seoul !

### for loop
The syntax for a for loop is

In [ ]:
for *var* in *loop iterable*
    *loop body*
end

In [5]:
for n in 1:10
    println(n)
end

1
2
3
4
5
6
7
8
9
10

In [7]:
cities = ["Majunga", "Diego", "New York", "Mumbai", "Seoul"]

for city in cities
    println("I have been to $city !")
end

I have been to Majunga !
I have been to Diego !
I have been to New York !
I have been to Mumbai !
I have been to Seoul !

Now let's use for loops to create some addition tables, where the value of every entry is the sum of its row and column indices.

First, we initialize an array with zeros.

In [8]:
m, n = 5, 5
A = fill(0, (m, n))

5×5 Matrix{Int64}:
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0

In [9]:
for j in 1:n
    for i in 1:m
        A[i, j] = i + j
    end
end
A

5×5 Matrix{Int64}:
 2  3  4  5   6
 3  4  5  6   7
 4  5  6  7   8
 5  6  7  8   9
 6  7  8  9  10

In [10]:
B = fill(0, (m, n))

5×5 Matrix{Int64}:
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0
 0  0  0  0  0

In [11]:

for j in 1:n, i in 1:m
    B[i, j] = i + j
end
B

5×5 Matrix{Int64}:
 2  3  4  5   6
 3  4  5  6   7
 4  5  6  7   8
 5  6  7  8   9
 6  7  8  9  10

In [12]:
C = [i + j for i in 1:m, j in 1:n]

5×5 Matrix{Int64}:
 2  3  4  5   6
 3  4  5  6   7
 4  5  6  7   8
 5  6  7  8   9
 6  7  8  9  10

### Exercises

Loop over integers between 1 and 100 and print their squares.

In [13]:
i = 1
while i <= 100
    println(i^2)
    i += 1
end

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801
10000

Add to the code above a bit to create a dictionary, squares that holds integers and their squares as key, value pairs such that

squares[10] == 100

In [16]:
squares = Dict()

for i in 1:100
    squares[i] = i^2
end

In [17]:
squares

Dict{Any, Any} with 100 entries:
  5  => 25
  56 => 3136
  35 => 1225
  55 => 3025
  60 => 3600
  30 => 900
  32 => 1024
  6  => 36
  67 => 4489
  45 => 2025
  73 => 5329
  64 => 4096
  90 => 8100
  4  => 16
  13 => 169
  54 => 2916
  63 => 3969
  86 => 7396
  91 => 8281
  62 => 3844
  58 => 3364
  52 => 2704
  12 => 144
  28 => 784
  75 => 5625
  ⋮  => ⋮

In [18]:
@assert squares[10] == 100
@assert squares[11] == 121

Use an array comprehension to create an an array squares_arr that stores the squares for all integers between 1 and 100.

In [33]:
squares_arr = []

for i in 1:100
    push!(squares_arr, i^2)
end
squares_arr

100-element Vector{Any}:
     1
     4
     9
    16
    25
    36
    49
    64
    81
   100
   121
   144
   169
     ⋮
  7921
  8100
  8281
  8464
  8649
  8836
  9025
  9216
  9409
  9604
  9801
 10000

In [32]:
@assert length(squares_arr) == 100
@assert sum(squares_arr) == 338350