# Data structures

Types of data structures covered:

1. Tuples
2. Dictionaries
3. Arrays

### Tuples
We can create a tuple by enclosing an ordered collection of elements in ( ).
Tuples are immutable, we can't update them.

Syntax:

(item1, item2, ...)

In [2]:
meals = ("pizza", "curry", "samosa")

("pizza", "curry", "samosa")

In [3]:
meals[1]

"pizza"

### NamedTuples

NamedTuples are just like Tuples except that each element additionally has a name. 

They have a special syntax using = inside a tuple:

(name1 = item1, name2 = item2, ...)

In [4]:
vehicles = (car = "Volkswagen", bike = "Kawasaki", plane = "concorde")

(car = "Volkswagen", bike = "Kawasaki", plane = "concorde")

In [5]:
vehicles[2]

"Kawasaki"

In [6]:
#access values by their name
vehicles.bike

"Kawasaki"

### Dictionaries
If we have sets of data related to one another, we may choose to store that data in a dictionary. We can create a dictionary using the Dict() function, which we can initialize as an empty dictionary or one storing key, value pairs.

Syntax:

Dict(key1 => value1, key2 => value2, ...)
A good example is a contacts list, where we associate names with phone numbers.

In [7]:
address = Dict("Swara" => "Belapur", "Anchan" => "Dombivali")

Dict{String, String} with 2 entries:
  "Anchan" => "Dombivali"
  "Swara"  => "Belapur"

In [9]:
address["Swara"]

"Belapur"

In [10]:
address["Yagna"] = "Goregaon"

"Goregaon"

In [11]:
address

Dict{String, String} with 3 entries:
  "Yagna"  => "Goregaon"
  "Anchan" => "Dombivali"
  "Swara"  => "Belapur"

In [12]:
#delete Yagna from address list - and simultaneously grab her address - by using pop!
pop!(address, "Yagna")

"Goregaon"

Unlike tuples and arrays, dictionaries are not ordered. So, we can't index into them.

### Arrays
Unlike tuples, arrays are mutable. Unlike dictionaries, arrays contain ordered collections.
We can create an array by enclosing this collection in [ ].

Syntax:

[item1, item2, ...]

In [13]:
cities = ["Majunga", "Tana", "Diego-Suarez", "Tamatave", "Tulear"]

5-element Vector{String}:
 "Majunga"
 "Tana"
 "Diego-Suarez"
 "Tamatave"
 "Tulear"

In [14]:
fibonacci = [1, 1, 2, 3, 5, 8, 13]

7-element Vector{Int64}:
  1
  1
  2
  3
  5
  8
 13

In [15]:
mix = [1, "Tana", 2, 5, "Fianar"]

5-element Vector{Any}:
 1
  "Tana"
 2
 5
  "Fianar"

In [16]:
#grab individual pieces of data from inside that array by indexing into the array.
cities[1]

"Majunga"

In [17]:
#indexing to edit an existing element of an array
cities[5] = "Fianaranstoa"

"Fianaranstoa"

In [18]:
push!(fibonacci, 21)

8-element Vector{Int64}:
  1
  1
  2
  3
  5
  8
 13
 21

In [19]:
pop!(fibonacci)

21

In [20]:
favorites = [["koobideh", "chocolate", "eggs"],["penguins", "cats", "sugargliders"]]

2-element Vector{Vector{String}}:
 ["koobideh", "chocolate", "eggs"]
 ["penguins", "cats", "sugargliders"]

In [21]:
numbers = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

3-element Vector{Vector{Int64}}:
 [1, 2, 3]
 [4, 5]
 [6, 7, 8, 9]

In [22]:
rand(4, 3)

4×3 Matrix{Float64}:
 0.167576   0.108228  0.549467
 0.155194   0.640094  0.680063
 0.0594463  0.43041   0.0776034
 0.441694   0.82102   0.129293

In [23]:
rand(4, 3, 2)

4×3×2 Array{Float64, 3}:
[:, :, 1] =
 0.654779  0.0296807  0.844921
 0.920674  0.401458   0.898585
 0.028608  0.394937   0.0542495
 0.889558  0.788247   0.272997

[:, :, 2] =
 0.354656   0.401482   0.670146
 0.0163114  0.436963   0.481893
 0.183208   0.321243   0.160348
 0.571956   0.0664138  0.0924618

In [24]:
fibonacci

7-element Vector{Int64}:
  1
  1
  2
  3
  5
  8
 13

In [25]:
somenumbers = fibonacci

7-element Vector{Int64}:
  1
  1
  2
  3
  5
  8
 13

In [26]:
somenumbers[1] = 404

404

In [27]:
fibonacci

7-element Vector{Int64}:
 404
   1
   2
   3
   5
   8
  13

In [28]:
#First, restore fibonacci
fibonacci[1] = 1
fibonacci

7-element Vector{Int64}:
  1
  1
  2
  3
  5
  8
 13

In [29]:
somemorenumbers = copy(fibonacci)

7-element Vector{Int64}:
  1
  1
  2
  3
  5
  8
 13

In [30]:
somemorenumbers[1] = 404

404

In [31]:
fibonacci

7-element Vector{Int64}:
  1
  1
  2
  3
  5
  8
 13

In this last example, fibonacci was not updated. Therefore we see that the arrays bound to somemorenumbers and fibonacci are distinct.

### Exercises
Create an array, a_ray, with the following code:

a_ray = [1, 2, 3]
Add the number 4 to the end of this array and then remove it.

In [32]:
a_ray = [1,2,3]

3-element Vector{Int64}:
 1
 2
 3

In [36]:
push!(a_ray,4)

4-element Vector{Int64}:
 1
 2
 3
 4

In [37]:
pop!(a_ray)

4

In [38]:
@assert a_ray == [1, 2, 3]

In [39]:
flexible_phonebook = Dict("Jenny" => 8675309, "Ghostbusters" => "555-2368")

Dict{String, Any} with 2 entries:
  "Jenny"        => 8675309
  "Ghostbusters" => "555-2368"

In [40]:
@assert flexible_phonebook == Dict("Jenny" => 8675309, "Ghostbusters" => "555-2368")

In [41]:
flexible_phonebook["Emergency"] = 911

911

In [42]:
@assert haskey(flexible_phonebook, "Emergency")
@assert flexible_phonebook["Emergency"] == 911